.editor {
    font-weight: 300 !important;
}

atom-text-editor::shadow .gutter .line-number .icon-right {
    display: inline-block;
    width: 0 !important;
    padding-left: 0 !important;
}

atom-text-editor::shadow .gutter .line-number {
    font-family: "Fira Code" !important;
    padding-left: 0.2em !important;
}

atom-text-editor::shadow .comment {
  font-style: normal;
}

// body > atom-workspace > atom-workspace-axis > atom-workspace-axis > atom-pane-container > atom-pane > div > atom-text-editor > atom-overlay > div.popover-list {
//   opacity: 0.1;
// }

.syntax--keyword.syntax--operator, .syntax--arrow {
    font-family: "Fira Code" !important;
}

.syntax--punctuation.syntax--separator.syntax--comma {
    padding-right: 0.13em;
}
